<section>
    <h1 id="titulo">Calculadora App</h1>
    <form class="calculadora-form">
        <mat-form-field class="calculadora-full-width">
          <mat-label>Operando A</mat-label>
          <input type="number" matInput [formControl]="operandoAFormControl" placeholder="Ej. 1">
          <mat-error *ngIf="operandoAFormControl.hasError('pattern') && !operandoAFormControl.hasError('required')">
            Por favor ingresa un número válido
          </mat-error>
          <mat-error *ngIf="operandoAFormControl.hasError('required')">
            Operando A es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="calculadora-full-width">
            <mat-label>Operando B</mat-label>
            <input type="number" matInput [formControl]="operandoBFormControl" placeholder="Ej. 2" [(ngModel)]="operandoB">
            <mat-error *ngIf="operandoBFormControl.hasError('pattern') && !operandoBFormControl.hasError('required')">
              Por favor ingresa un número válido
            </mat-error>
            <mat-error *ngIf="operandoBFormControl.hasError('required')">
              Operando B es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        <button mat-raised-button color="accent" id="boton-calcular" (click)="sumarOperandos()" type="submit">Sumar</button><br>
      </form>
      <mat-card id="resultado-card">Resultado: {{resultado}}</mat-card>
</section>
